*{
    font-family:'Circular Std',sans-serif;
    color: #001141;
}
#container{
     width:100%;
     height:auto;
     background-color: #f4f1f5;
     border: 1px solid white;
}
#head{
     
     text-align: center;
     width:100%;
     
     
    
     
}
#head h1{
   margin-top: 170px;
   font-size:60px;
   line-height:10px;
}
#head>p{
      font-size:25px;
      color: rgba(0,17,65,.5);
      
}

#middle{
    
    display:grid;
    width:80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    gap:50px;
    margin:auto;
    margin-top:100px;
    }

    #middle>div{
        width:90%;
        
          
        font-family:'Circular Std',sans-serif;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius:20px;
        }

        #middle>div>img{
            width:100%;
           
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            }

            #middle>div>p{
                margin-left:30px;    
                color: #001141;
                line-height:30px;
                font-size:bold;
                }
    
                #middle>div>h2{
                    margin-left:30px;    
                    color: #001141;
                    line-height:10px;
                    }

          


         
          
    

      


