#navbar{
    margin-bottom: -20px;
    background-color: #f5f2f9;
}
.flex{
    background-color: #f5f2f9;
}
#heder{
    height: 400px;
    background-color:#f5f2f9;
    border: 1px solid red;
    display: flex;
}
#heder>div{
    border: 1px solid red;
    width: 50%;
}
#heder>div:first-child{
    padding: 2% 6%;
}
#heder>div:first-child h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
#heder>div:first-child p{
    color: gray;
}
#heder>div:last-child{
    padding: 10px 10%;
}
#heder #inputBox{
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    color: gray;
}
#heder #inputBox button{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.c1{
    background-color: #0dbb8a;
}
.c2{
    background-color: #151515;
    height: 50px;
    width: 6px;
}
