.main {
    height: 500px;
    background-image: url(https://assets-global.website-files.com/6257f25…/6257f25…_line-bottom.svg), linear-gradient(180deg, #6929c4 63%, #8a3ffc);
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
}

#Navbar {
    color: white;
    background-color: #6929c4;
}

#logo1 {
    width: 50px;
    fill: #0ef0b8;
}

#mainbox {
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 4em 8.3em;
    color: white;
    width: 60%;
    text-align: center;
}

#mainbox>h1 {
    margin: 0;
    font-size: 4.24em;
    font-weight: 700;
    letter-spacing: -.03em;
}


.email {
    margin-top: 20px;
    width: 310px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20%;
    border: 0px;
    outline: none;
    letter-spacing: 1px;
}

.btn {
    margin-left: -171px;
    padding: 12px 30px;
    border-radius: 10px;
    border: 0px;
    background-color: #001141;
    color: white;
}

.input2 {
    width: 40%;
    margin: auto;
}


#trial {
    text-align: center;
    padding-top: 20px;
    margin-bottom: auto;
}

.privacy {

    background-color: #fff;
    color: #383144;
    letter-spacing: -.01em;
}

#second_part>h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.71em;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -.02em;
}

.second_part {
    position: relative;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 7em 8.3em;
    background-color: #001141;
    font-size: 1vw;
    line-height: 1.6;
    color: white;
    text-align: center;
}

.sections {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
}

.sections {
    display: flex;
    width: 100%;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
}

.card {
    position: relative;
    display: flex;
    height: auto;
    padding: 2.2em 2.8em 2em;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    border-radius: 1em;
    background-color: #f9f7fe;
}

.logo3 {
    width: 20px;
    height: 20px;
}

.container {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    width: 100%;
    /* margin-right: auto;
        margin-left: auto;  */
}

.title {

    margin-bottom: 4em;
    text-align: center;
}

.heading3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.71em;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -.02em;
}

.grid_layout {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}





.para {
    line-height: 1.7;
    color: rgba(56, 49, 68, .8);
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
}



.icon3 {
    position: absolute;
    left: auto;
    top: -1.5em;
    right: auto;
    bottom: auto;
    display: flex;
    width: 3em;
    height: 3em;
    align-items: center;
    border: 1px solid rgba(155, 114, 218, .15);
    border-radius: 50%;
    background-color: #f9f7fd;
}




/* <section4>  */

.section4 {
    overflow: hidden;
    background-color: #6929c4;
    color: #fff;
    width: 100%;
    margin: 0px;
}


.container4 {
    width: 70%;
    margin: auto;

}

.stack_connect {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.circle {
    margin-top: 40px;
    ;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: .6;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    position: static;
}

.image-161 {
    height: 5em;
}


.stack_connect2 {
    position: relative;
    z-index: 10;
}

.part4_title {
    color: #fff;
    z-index: 10;
    /* width: 60em; */
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    text-align: center;
}

.imultiple_icon {
    width: 100%;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
}

.bottom_tittle {
    margin: 60px 0px;
    display: flex;
    justify-content: center;
}

.divide_space {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 20%;
}

.para4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 1.75;
}

.inte-logo {
    width: 4em;
    height: 4em;
    object-fit: contain;
}


.headingh3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.71em;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -.02em;
}


/* footer */
.footer {
    padding: 40px 0px;
    position: static;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;

    align-items: center;
}

.container5 {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

}

.wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.wrap2 {
    display: inline;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1;
    text-align: center;
}

.wrap3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap3>img {
    width: 60px;
    margin: 40px 0px;
}

.foot_lay {
    display: flex;
    width: 100%;
}

.foot_icons {
   
    width: 40%;
    height: 500px;
    padding: 50px 70px;

}

.foot_links {
    
    width: 75%;
    height: 500px;
    flex-direction: column;
    display: flex;
}

.foot_links>div {

    display: flex;
}

.foot_links>div>div {

    /* width: 30%; */
    margin: 3%;

}

.div-block-382 {
    width: 40%;
}

.layout2 {
    display: flex;
    margin: 1%;

}

.layout2>img {
    /* margin: 20px; */
}