#gridFifteen{
    height: 450px;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#gridFifteen>div{
    border: 1px solid #f2effc;
    background-color: #f9f7fe;
    border-radius: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
#gridFifteen div:hover{
    box-shadow: #e6def5 0px 4px 8px 0px, #ece5f8 0px 4px 32px 0px;
    transition: all 800ms;
    background-color: #f4f1f5;
}
#gridFifteen div img{
    height: 50px;

}
#gridFifteen div{
    background-color: #f9f7fe;
}
#flex7{
    margin-bottom: 50px;
}
#midPara{
    text-align: center;
    margin-bottom: 100px;
}