@import url('http://fonts.cdnfonts.com/css/circular-std');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Circular Std', sans-serif;
                                                
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid white; */
    height: 80px;
    padding: 0px 5%;
    align-items: center;
}

#navbar {
    background-image: url("https://assets-global.website-files.com/6257f25…/6257f25…_lines.svg"), radial-gradient(circle farthest-corner at 50% 120%, #9476d4, #7738d6 46%);
    background-position: 50% 100%, 0 0;
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
    height: 120vh;
    background-attachment: fixed;
    border-bottom-left-radius: 160px;
    /* color: white; */
}

.logo img {
    width: 6rem;
}

.flex ul li {
    display: inline-block;
}

.flex ul li a {
    font-weight: 600;
}

.flex ul li a:hover {
    color: #9476d4;
}

.flex ul li a {
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 30px;
    font-size: 14px;
    transition: .5s;
}

.flex ul ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
}

.flex ul li:hover>ul>li>a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 15px;
}

.flex ul li:hover>ul>li>a:hover {
    color: #7738d6;
    background-color: rgb(230, 230, 230);
}

.flex ul li:hover>ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: .2s linear;
    background-color: white;
    margin-left: 15px;
    border-radius: 10px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
}

.flex ul ul li {
    display: list-item;
    position: relative;
    border-top: none;
}

.flex ul li #free_trial {
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #001141;
    font-weight: 600;
    font-size: 12px;
}

.flex ul li #free_trial:hover {
    transition: 350ms;
    background-color: #001141;
    color: white;
}

.flex ul li #about {
    width: 95%;
    vertical-align: middle;
}

.flex ul li #about:hover {
    width: 110%;
    transition-property: width;
    transition-duration: .5s;
}

.fa {
    color: black;
}

/* container  */

#container {
    color: black;
    position: absolute;
    top: 100px;
    width: 90%;
    /* border: 2px solid black; */
    height: 550px;
    margin: auto;
    left: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: white;
    z-index: 1;
}

#container>div>img {
    width: 90%;
}

.green {
    color: #0ef0b8;
}

.first h1 {
    color: #fff;
    font-size: 1em;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: .02em;
    margin-top: 20px;
}

.first h2 {
    font-size: 70px;
    margin-top: 18px;
}

.first p {
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 600px;
    line-height: 25px;
}

#email {
    margin-top: 20px;
    width: 400px;
    padding: 18px;
    border-radius: 10px;
    border: 0px;
    outline: none;
    margin: 20px 0px;
    letter-spacing: 1px;
}

#btn {
    margin-left: -173px;
    padding: 12px 30px;
    border-radius: 10px;
    border: 0px;
    background-color: #001141;
    color: white;
}

#btn:hover {
    cursor: pointer;
    background-color: #7738d6;
    transition: .3s;
}

#input>div {
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 600;
}

.small {
    padding-right: 8px;
    vertical-align: middle;
}


/* part-3 */
#part-3 {
    /* border: 2px solid black; */
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#part-3 h3 {
    font-size: 36px;
}

#part-3 p, .track p {
    color: rgba(56, 49, 68, .8);
    font-size: 15px;
    margin-top: 10px;
    line-height: 24px;
    /* font-family: Circularstd, sans-serif; */
    margin-bottom: 20px;
}

.part-3-span {
    color: #7738d6;
}

#part-3 a:nth-child(4) , .track>div>a {
    color: #7738d6;
    font-size: 15px;
    text-decoration: underline;
}
#part-3> img{
    margin-top: 40px;
}

.track{
    width: 70% ;
    margin: auto;
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.track>div{
    text-align: center;
}
.track>div h4{
    font-size: 22px;
}

/* 4th part  */

#part-4{
    background-image: url("https://assets-global.website-files.com/5db165cbf782f992df567ae5/60f835b74a8c5743d88a28b8_lines-home.svg");
    background-repeat: no-repeat;
    /* background-position: 50% 100%, 0 0; */
    background-size: 70%;
    background-position: 0%;
    height:300vh ;
    width: 90vw;
    position: relative;
    left: 100px;
    top: 20px;
}

#cont{
    border: 2px solid white;
}

.second,.third, .fourth{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: 130px;
}
.second img{
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.second h3,.third h3, .fourth h3{
    margin-top: 50px;
    font-size: 37px;
    font-weight: 900;
}
.second p,.third p,.fourth p{
    font-size: 15px ;
    color: rgba(56,49,68,.8);
    word-spacing: 2px;
    letter-spacing: .5px;
    line-height: 24px;
    width: 370px;
    margin-top: 20px;
}
.third{
    margin-top: 230px;
}
.third img{
    width:90%
}
.fourth{
    margin-top: 230px;
}
.fourth video{
    width: 90%;
    border-radius: 10px;
}
/* 5th part  */

#fifth{
    height: 400px;
    background-image: url("https://assets-global.website-files.com/6257f25…/6257f25…_lines.svg"), radial-gradient(circle farthest-corner at 50% 120%, #9476d4, #7738d6 46%);
    position: relative;
    padding-top: 22px;
    margin-top: 30px;
}
#fifth>div:nth-child(1){
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
#fifth h3{
    font-size: 33px;
    color: white;
}
#fifth p{
    color: white;
    font-size: 13.2px;
    word-spacing: 1px;
    letter-spacing: .2px;
    line-height: 24px;
}

