body  {
    animation: transitionIn .4s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


#navbar{
    margin-bottom: -20px;
    background-color: #f5f2f9;
}
.flex{
    background-color: #f5f2f9;
}
#heder{
    height: 400px;
    background-color:#f5f2f9;
    display: flex;
}
#heder>div{
    width: 50%;
}
#heder>div:first-child{
    padding: 2% 6%;
}
#heder>div:first-child h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
#heder>div:first-child p{
    color: gray;
}
#heder>div:last-child{
    padding: 10px 10%;
    padding-top: 7%;
}
#heder #inputBox{
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    color: gray;

}
#heder #inputBox button{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#heder #inputBox button:hover{
    background-color: #8a3ffc;
    border-color: #8a3ffc;
    transition: all 600ms;
}
#heder #sape{
    border-radius: 20% 80% 10% 90% / 72% 21% 79% 28% ;
    height: 70%;
    width: 110%;
    background-color: #45d689;
  padding-top: 80px;
  padding-left: 20px;
  color: white;
  text-align: center;
}
#heder img{
    border-radius: 39% 61% 40% 60% / 61% 50% 50% 39% ;
    position: relative;
    height: 150px;
    left: 90%;
    top: -80px;
}
#heder a{
    color: white;
}
#heder #sape p{
    color: black;
}
#heder #sape p:hover{
    color: white;
    transition: all 900ms;
    font-weight: bold;
}
#grid6{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 85%;
    margin: auto;
    margin-top: -100px;
}
#grid6 div{
    height: auto;
}
#grid6 .front{
    width: 80%;
    height: 90%;
   margin-top: -43%;
}
#grid6 .back{
    width: 85%;
    height: 95%;
    margin-bottom: -60px;

}
#grid6 h1{
    margin: 30px 0px 20px 0px;
}
#grid6 p{
    color: gray;
    line-height: 27px;
}
#grid6  #manage{
    margin-left: 30px;
    margin-bottom: -53px;

}
#box1{
    height: auto;
    color: white;
    background-color: #001141;
    text-align: center;
    padding: 30px 0px;
    margin-top: 30px;
}
#box1 img{
    border-radius: 50%;
    height: 90px;
    margin-bottom: 20px;
}
#box1 p{
    margin: 10px 0px;
}
#box1 button{
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}
#box1 button:hover{
    background-color: black;
    color: white;
}
#midhead{
    margin: 30px 0px;
    text-align: center;
}
#flex3{
    display: flex;
    padding: 0px 80px;
    justify-content: space-evenly;
    gap: 5%;
}
#flex3 div{
    text-align: center;
}
#flex3 p{
    color: gray;
}
#flex7{
    height: 150px;
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 80px;
}
#heder div .starts{
    font-size: 12px;
    color: black;
}
#heder #starts2{
    color: rgb(107, 107, 107);
    letter-spacing: 0px;
    font-size: 43px;
    font-weight: 1000;
}